@import "tailwindcss";

/* 引入自定义字体 */
@font-face {
  font-family: 'cfracelyncetta';
  src: url('./assets/font/cfracelyncettademoregular-2v4y8.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cfracelyncetta: 'cfracelyncetta', sans-serif;
}

@layer base {
  html {
    background: #08090d;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  body {
    min-width: 320px;
    background: #08090d;
    -ms-overflow-style: none;
    overflow-x: hidden;
  }

  #app {
    min-height: 100svh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
